/*--------------------------Region---------------------------- */

.title-destination {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
}

.title-destination h1,
.destination-maintext h1 {
  text-align: center;
  margin-bottom: 2vh;
  font-size: calc(20px + 2.5vw);
}

.title-destination h5 {
  text-align: center;
}

.destinationroute {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.destinationroute img {
  margin: 1vw;
  width: 95%;
  height: auto;
}

.bg-container-fluid-light_destination {
  position: absolute;
  background: #f8f9fa;
  height: 720px;
  bottom: 0px;
  z-index: -5;
}

.destination_places {
  padding-bottom: 4vh;
  padding-top: 1vh;
}

.destination_places h1 {
  font-size: calc(12px + 4vw);
  font-stretch: 150%;
  text-align: left;
}

.destination_places .card {
  transition: transform 0.5s ease;
  max-width: 400px;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  min-width: 140px;
}

.destination_places .card:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 801px) {
  .inline_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 800px) {
  .inline_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    ::-webkit-scrollbar{
      display: none;
    }
  }
  .inline_wrapper .card {
    display: inline-block;
    width: 140px;
    width: 140px;
  }
  .card-title {
    white-space: normal;
  }
}

@media only screen and (min-width: 1001px) {
  .inline_wrapper_6_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 1000px) {
  .inline_wrapper_6_cards {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .inline_wrapper_6_cards .card {
    display: inline-block;
    width: 140px;
  }
  .card-title {
    white-space: normal;
  }
}

.inline_wrapper_10_cards {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    display: none;
  }
}

.inline_wrapper_10_cards .card {
  display: inline-block;
  width: 200px;
}

.inline_wrapper_10_cards .heading_h2_bigger {
  white-space: normal;
}

.good-to-know {
  padding-bottom: 7vh;
  padding-top: 7vh;
}

.good-to-know .picture-container {
  position: relative;
  text-align: center;
  color: white;
}

.good-to-know img {
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 80%;
  height: auto;
  z-index: 1;
}

.heading_link_area {
  font-size: 3em;
}

.background_font {
  position: relative;
}

.background_font_title {
  position: relative;
  z-index: 5;
}

.background_font-img {
  position: absolute;
  top: 0;
  z-index: 1;
}

.responding_font_size {
  font-size: 1.2em;
}

@media only screen and (max-width: 1400px) {
  .responding_font_size {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1110px) {
  .responding_font_size {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 960px) {
  .white_bg_mobile {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5vh;
    margin: 0;
    width: 95%;
    height: 95%;
  }

  .responding_font_size {
    font-size: 0.45em;
  }
}

@media only screen and (max-width: 820px) {
  .heading_link_area {
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  .heading_link_area {
    font-size: 1.8em;
  }
  .background_font-img {
    display: none;
  }
}

.bg-img-plant {
  background-image: url('../images/Background_Plant_Bottom.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-img-plant_left {
  background-image: url('../images/Background_Plant_links.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.heading_h2_bigger {
  font-size: 3em;
}

/*----------------------Covid Btn---------------------------------*/

.front-btn-img {
  position: absolute;
  top: 44%;
  left: 10px;
  width: 22%;
  height: auto;
  z-index: 100;
  transform: rotate(-20deg);
  transition: transform 0.5s ease;
}

.front-btn-img:hover {
  transform: scale(1.05) rotate(-10deg);
}

.front-btn-img:hover .pop_up_hover {
  visibility: visible;
}

.pop_up_hover {
  background-color: black;
  color: white;
  font-size: 1em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 18%;
  left: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .front-btn-img {
    position: absolute;
    top: 16%;
    left: 10px;
    width: 20%;
    height: auto;
  }

  .pop_up_hover {
    bottom: 10%;
  }

  @media only screen and (max-width: 720px) {
    .front-btn-img {
      position: absolute;
      top: 14%;
      left: 10px;
      width: 20%;
      height: auto;
    }

    .pop_up_hover {
      bottom: 5%;
    }
  }

  @media only screen and (max-width: 576px) {
    .front-btn-img {
      display: none;
    }

    .pop_up_hover {
      bottom: 5%;
      display: none;
    }
  }
}

/* Inhaltsverzeichnis Style*/
.content-menu p {
  text-align: left;
}

.content-menu summary {
  font-size: 1.4em;
}
